* {
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #CCC url('background.png');
}

input,
button,
a {
  outline: none;
}

input {
  border-radius: 0;
  margin: 0;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

button::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
  color: #AAA;
}

::-moz-placeholder {
  color: #AAA;
  opacity: 1
}

.scola.item.menu.selected {
  background: #CCC !important;
}

.scola.item.menu.selected>* {
  color: #000 !important;
}

.scola.pop .scola.body .scola.button:focus,
.scola.pop .scola.body .scola.button:active {
  background: #CCC !important;
}

.scola.header .scola.button:active,
.scola.footer .scola.button:active {
  opacity: 0.5;
}

.scola.header .scola.button.disabled,
.scola.list .scola.button.disabled {
  color: #AAA !important;
  cursor: default !important;
}

.scola.header .scola.button.disabled:active {
  opacity: 1 !important;
}

.scola.list .scola.button.disabled:active {
  background: #FFF !important;
}

.scola.item.nav:active,
.scola.item.radio:active,
.scola.list .scola.button:active {
  background: #CCC !important;
}

.scola.item.menu.selected>*,
.scola.item.menu.selected+ .scola.item>* {
  border-top-color: inherit !important;
}

.scola.item.nav:active+ .scola.item>*,
.scola.item.radio:active+ .scola.item>* {
  border-top-color: inherit !important;
}

*[dir=rtl] .ion-ios-arrow-back:before {
  content: "\f3d1" !important;
  text-align: left;
}

*[dir=rtl] .scola.item.switch .scola.switch {
  transform: rotateY(180deg);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .scola.item .scola.padding {
    border-top-width: 0.5px !important;
  }
  .scola.item .scola.primary {
    border-top-width: 0.5px !important;
  }
  .scola.item .scola.secondary {
    border-top-width: 0.5px !important;
  }
  .scola.item.input .scola.input-root {
    border-top-width: 0.5px !important;
  }
  .scola.item.input .scola.padding {
    border-top-width: 0.5px !important;
  }
  .scola.item.switch .scola.switch-root {
    border-top-width: 0.5px !important;
  }
  .scola.list .scola.body {
    border-width: 0.5px 0 !important;
  }
  .scola.menu {
    border-width: 0.5px !important;
  }
  .scola.panel .scola.header {
    border-bottom-width: 0.5px !important;
  }
  .scola.panel .scola.footer {
    border-top-width: 0.5px !important;
  }
  .scola.pop .scola.buttons .scola.button {
    border-top-width: 0.5px !important;
  }
  .scola.pop .scola.buttons .scola.button .scola.border {
    width: 0.5px !important;
  }
  .scola.tab.inline .scola.buttons .scola.inner {
    border-width: 0.5px !important;
  }
  .scola.tab.inline .scola.buttons .scola.button .scola.border {
    border-left-width: 0.5px !important;
  }
  .scola.tab.panel .scola.buttons {
    border-top-width: 0.5px !important;
  }
  .scola.tab *[dir=rtl] .ion-ios-arrow-forward:before {
    content: "\f3cf" !important;
    text-align: left;
  }
}
